CRYPTO_CLEAN.json
{
  "name": "CRYPTO - Binance Historical Data to Supabase",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-192, -240],
      "id": "156cf56d-f2a4-412d-bf42-0268688a67f4",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 횠짠횢혙횠짰횠쨌횢혞횠짤 1: 횢혗횠짠횠짝횢혚횠짤 횠짠횢혙횠쨔횢혚횢혙횠짠횠짧 횠짠횢혙횢혚횠짹횠짠횠짱 횠짭횢혙횠짢 횠짢횢혡횠짠횢혛횠짠횠짧횢혝횠짠 횠짠횢혙횠짧횠짠횠짹횢혡횠짰횢혡횠짤\n// 횠짙횠쨋횢혖 횠짙횢혞 횠짠횠짯횠째횢혖 횠쨔횢혚횢혙횠짠횠짧 횠짯횠쨀횠짢 횠짠횠짯횠짧횢혡횠짠횠짭횢혘\n// ============================================================\nconst coins = [\n  \"BTCUSDT\",\n  \"ETHUSDT\",\n  \"BNBUSDT\",\n  \"SOLUSDT\",\n  \"XRPUSDT\",\n  \"ADAUSDT\",\n  \"DOGEUSDT\",\n  \"AVAXUSDT\",\n  \"LINKUSDT\",\n  \"LTCUSDT\"\n];\n\nreturn coins.map(coin => ({ json: { symbol: coin } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, -240],
      "id": "7fba1396-2a37-4d63-a172-0a157960cd53",
      "name": "Define Coins List"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [256, -240],
      "id": "d9949872-b081-46dc-8e53-8b8b0f737fb5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "interval",
              "value": "1d"
            },
            {
              "name": "limit",
              "value": "730"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [624, -240],
      "id": "14990da6-c2e2-4353-826e-04a7def30e79",
      "name": "Fetch Klines from Binance",
      "notes": "Binance public endpoint - no authentication required"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 횠짠횢혙횠짰횠쨌횢혞횠짤 3: 횠짧횢혛횠쨀횢혡횢혗 횠짢횢혡횠짠횢혛횠짠횠짧 횠짠횢혙횠쨈횢혚횢혞횠쨔 (Klines) 횢혙횢혘횢혙 횠쨔횢혚횢혙횠짤\n// ============================================================\n\n// 횠짭횢혙횠짢 횠짠횠쨀횢혚 횠짠횢혙횠쨔횢혚횢혙횠짤 횢혚횢혛 횢혛횢혞횠짱 횠짠횢혙횢혙횢혞횠짢\nconst symbol = $('Loop Over Items').item.json.symbol;\n\n// 횠짠횢혙횠짧횠짯횢혗횢혗 횢혚횢혛 횢혞횠짭횢혞횠짱 횠짢횢혡횠짠횢혛횠짠횠짧\nif (!items || items.length === 0) {\n  console.log(`No data received for ${symbol}`);\n  return [];\n}\n\nconst formattedData = [];\n\nfor (const item of items) {\n  const candle = item.json;\n\n  // 횠짠횢혙횠짧횠짯횢혗횢혗 횢혚횢혛 횠쨉횠짯횠짤 횠짠횢혙횠쨉횢혖\n  if (!Array.isArray(candle) || candle.length < 6) {\n    continue;\n  }\n\n  const openPrice  = parseFloat(candle[1]);\n  const highPrice  = parseFloat(candle[2]);\n  const lowPrice   = parseFloat(candle[3]);\n  const closePrice = parseFloat(candle[4]);\n  const volume     = parseFloat(candle[5]);\n\n  // 횠짧횠짭횢혛횠짢 횠짠횢혙횢혗횠쨀횢혚횠짤 횠쨔횢혙횢혟 횠쨉횢혖횠짹\n  const change24h = openPrice !== 0\n    ? ((closePrice - openPrice) / openPrice) * 100\n    : 0;\n\n  formattedData.push({\n    json: {\n      symbol:     symbol,\n      time:       new Date(candle[0]).toISOString(),\n      open:       openPrice,\n      high:       highPrice,\n      low:        lowPrice,\n      price:      closePrice,\n      volume:     volume,\n      change_24h: parseFloat(change24h.toFixed(4))\n    }\n  });\n}\n\nconsole.log(`Formatted ${formattedData.length} candles for ${symbol}`);\nreturn formattedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, -240],
      "id": "14edd969-aafa-4bae-951f-e87e729baadc",
      "name": "Format Klines Data"
    },
    {
      "parameters": {
        "tableId": "binance_prices",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1088, -240],
      "id": "4b568763-f533-4c47-82b7-87f785a7ab94",
      "name": "Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      },
      "notes": "Setup: Add your Supabase credentials in n8n before running"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Define Coins List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Coins List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fetch Klines from Binance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Klines from Binance": {
      "main": [
        [
          {
            "node": "Format Klines Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Klines Data": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Cairo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "description": "Fetches 2 years of daily OHLCV data from Binance for 10 major crypto pairs and stores them in Supabase. No API key required (public endpoint).",
    "templateCredsSetupCompleted": false
  },
  "tags": ["crypto", "binance", "supabase", "historical-data"]
}
